/logs/
/target/classes/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-status/
/target/surefire-reports/
/target/test-classes/
/.idea/encodings.xml
/.idea/compiler.xml
/src/main/java/
